/*
  Это временное решение
*/

.table-container {
	overflow-x: auto;
	cursor: pointer;
}

.price-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.price-table th,
.price-table td {
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 14px;
}

.price-table th {
	background-color: #f4f4f4;
	font-weight: bold;
}

/* при наведении */
.price-table .highlight-row {
	background-color: #e7f3fe;
	/* Подсветка строки */
}
.price-table .highlight-col {
	background-color: #e7f3fe;
	/* Подсветка столбца */
}
.price-table .highlight-intersection {
	background-color: #d1e7dd;
	/* Подсветка пересечения */
	font-weight: bold;
}

/* при клике */
.selected-row {
    background-color: #e7f3fe;
}
.selected-col {
    background-color: #e7f3fe;
}
.selected-cell {
    background-color: #9C2426;
	color: white;
}



@media only screen and (max-width: 1100px) {
	.price-table td {
		font-size: 12px;
	}
}