

@font-face {
    font-family: 'Kinetika';
    src: url('/fonts/Kinetika/Kinetika-Black.eot');
    src: url('/fonts/Kinetika/Kinetika-Black.eot') format('embedded-opentype'),
         url('/fonts/Kinetika/Kinetika-Black.woff2') format('woff2'),
         url('/fonts/Kinetika/Kinetika-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('/fonts/Geometria/Geometria-Regular.eot');
    src: url('/fonts/Geometria/Geometria-Regular.eot') format('embedded-opentype'),
         url('/fonts/Geometria/Geometria-Regular.woff2') format('woff2'),
         url('/fonts/Geometria/Geometria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
